<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text To Binary Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="~/css/TextToBinary.css" asp-append-version="true" />
</head>
<body>
    <h1 id="title"><u>Text To Binary</u></h1>
    <div class="container">
        <div class="section">
            <h3>Text</h3>
            <textarea id="text" placeholder="Enter Text Here..."></textarea>
        </div>
        <div class="section">
            <h3>Binary</h3>
            <textarea id="binary" placeholder="Enter Binary Here..."></textarea>
        </div>
    </div>
    <button id="convertToBinary">Convert To Binary >>></button>
    <button id="convertToText"><<< Convert To Text</button>
</body>
<script>
    document.getElementById("convertToBinary").addEventListener("click", function() {
        let textInput = document.getElementById("text").value;
        let Output = document.getElementById("binary");
        Output.value = "";
        let binaryOutput = "";

        binaryOutput = textInput.split("").map(function(char) {
            return char.charCodeAt(0).toString(2).padStart(8, "0");
        }).join(" ");

        document.getElementById("binary").value = binaryOutput; 
    });
    document.getElementById("convertToText").addEventListener("click", function() {
        let binaryInput = document.getElementById("binary").value;
        let Output = document.getElementById("text");
        Output.value = ""; 
        let textOutput = "";

        binaryInput.split(" ").forEach(function(bin) {
            textOutput += String.fromCharCode(parseInt(bin, 2));
        });

        document.getElementById("text").value = textOutput;
    });
</script>

</html>