* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #cfe2f3;
    color: #387bc0;
    margin: 0;
    padding: 0px;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}
#title {
    font-size: 2rem;
    color: #387bc0;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
#subtitle {
    color: #387bc0;
    text-align: center;
    padding-bottom: 5px;
}
.text {
    font-size: 1.2rem;
    color: #387bc0;
    text-align: center;
    margin-bottom: 10px;
}
pre.poem {
    font-family: Georgia, 'Times New Roman', Serif;
    background-color: #f0f4ff;
    display: inline-block;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}
pre.text {
    font-family: Georgia, 'Times New Roman', Serif;
    background-color: #f0f4ff;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}


