<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Binary To Text Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="~/css/BinaryToText.css" asp-append-version="true" />
</head>
<body>
    <h1 id="title"><u>Binary To Text</u></h1>
    <div class="container">
        <div class="section">
            <h3>Binary</h3>
            <textarea id="binary" placeholder="Enter binary code here..."></textarea>
        </div>
        <div class="section">
            <h3>Text</h3>
            <textarea id="text" readonly></textarea>
        </div>
    </div>
    <button id="btn">Convert</button>
</body>
<script>
    document.getElementById("btn").addEventListener("click", function() {
        var binaryInput = document.getElementById("binary").value;
        var textOutput = "";

        binaryInput.split(" ").forEach(function(bin) {
            textOutput += String.fromCharCode(parseInt(bin, 2));
        });

        document.getElementById("text").value = textOutput;
    });
</script>

</html>